DJANGO_SETTINGS_MODULE=django-template.settings.local

DB_HOST=db
DB_NAME=django-template
DB_PASS=django-template
DB_USER=django-template
DB_PORT=5432

SECRET_KEY=django-insecure-z)q^7d8+j(gqgfwsjvqa&qe#2d2ku1w7cb-*#ym8)9vk-cyrys